*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
Thumbs.db
Objectives.txt
*.ppt
*.pptx
*.avi
out.txt
\bin
*.metadata
*.classpath
*.project
\target
